<div class="container">
  <h3>Product Update</h3>
  <form>
    <div class="col-6"><br>
      <input type="text"
      class="form-control"
      id="name"
      placeholder="Name product"
      name="name"
      [(ngModel)]="product.name">
    </div>
    <div class="col-6"><br>
      <input type="number"
      class="form-control"
      id="price"
      placeholder="Price"
      name="price"
      [(ngModel)]="product.price">
    </div>
    <div class="col-6"><br>
      <input type="number"
      class="form-control"
      id="stock"
      placeholder="Stock"
      name="stock"
      [(ngModel)]="product.stock">
    </div><br>
    <div class="d-grid gap-2 col-2">
      <button type="submit" (click)="onEditProduct()" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>

