<h3>Product Manager Aplication</h3>
<div class="row mt-3">
  <div class="col-lg-6">
    <h3>List of products</h3>
  </div>
  <div class="col-lg-6">
    <a class="btn btn-primary float-end" href="/manager-product/create-product" role="button">Create product</a>
  </div>
</div>
<table class="table table-hover table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name product</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stock}}</td>

      <td>
        <button (click)="editProduct(product.id!)" class="btn btn-warning btn-sm m-1">Edit</button>
        <button (click)="deleteProduct(product.id!)" class="btn btn-danger btn-sm m-1">Delete</button>
        <button (click)="productDetail(product.id!)" class="btn btn-info btn-sm m-1">Detail</button>
      </td>

    </tr>
  </tbody>
</table>
