<h3>Detail Product</h3>
<h4>
  Name
  <p class="text-muted">{{product?.name}}</p>
</h4><br>
<h4>
  Price
  <p class="text-muted">{{product?.price}}</p>
</h4><br>
<h4>
  Stock
  <p class="text-muted">{{product?.stock}}</p>
</h4><br>
