<div class="container">
  <h3>Product Registration</h3>
  <form [formGroup]="formProduct" (ngSubmit)="onCreateProduct()">
    <div class="col-6"><br>
      <input type="text"
      class="form-control"
      id="name"
      placeholder="Name product"
      formControlName="name">
    </div>
    <div class="col-6"><br>
      <input type="number"
      class="form-control"
      id="price"
      placeholder="Price"
      formControlName="price">
    </div>
    <div *ngIf="formProduct.errors?.['isPrice']">
      Negative prices are not allowed
    </div>
    <div class="col-6"><br>
      <input type="number"
      class="form-control"
      id="stock"
      placeholder="Stock"
      formControlName="stock">
    </div>
    <div *ngIf="formProduct.errors?.['isStock']">
      Negative stock are not allowed
    </div>
    <br>
    <div class="d-grid gap-2 col-2">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
